
  <h2>Be an angel and login, my friend</h2>


<form action="/session" method="POST">
  <label>
    Email:
    <input name="email" />
  </label>

  <label>
    Password:
    <input name="password" />
  </label>


  <button>Sign In</button>
</form>